body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 50px;
}
h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}
.board {
    display: grid;
    gap: 20px;
}
.board__cell {
    box-shadow: -2px -2px 5px 0 #0008, inset -2px -2px 5px 0 #0008;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font: 24px sans-serif;
    user-select: none;
}
.board__cell.active {
    box-shadow: 2px 2px 5px 0 #0008, inset 2px 2px 5px 0 #0008;
}